html, body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.wrapper {
    min-height: 100vh;
    margin-bottom: 30px;
}

header {
    background-color: rgb(42, 63, 108);
    padding: 0 15px;
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header .logo img {
    width: 200px;
    padding: 10px 0;
}

header nav ul {
    display: flex;
    list-style: none;
    color: #fff;
    padding: 0;
    margin: 0;
}

header nav ul li {
    padding: 15px 15px;
}

.products-list {
    display: flex;
    flex-wrap: wrap;
}

.products-list .product {
    width: 25%;
    margin-bottom: 45px;
}

.products-list .product img {
    width: 100%;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

footer {
    background-color: rgb(42, 63, 108);
    padding: 15px;
    color: #fff;
    height: 100px;
}

footer .container {
    display: flex;
    justify-content: space-between;
}