html, body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.wrapper {
    min-height: 100vh;
    margin-bottom: 30px;
}

header {
    background-color: rgb(42, 63, 108);
}

nav.navbar {
    background-color: rgb(42, 63, 108);
    padding: 0;
}

nav .nav-link {
    color: #fff;
}

nav .navbar-toggler-icon {

}

nav .nav-link:hover {
    color: #ddd;
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header .logo img {
    width: 200px;
}

header nav {
    margin-left: auto;
}

header nav ul {
    display: flex;
    list-style: none;
    color: #fff;
    padding: 0;
    margin: 0;
}

header nav ul li {
    padding: 15px 15px;
}

.products-list {
    /*display: flex;*/
    /*flex-wrap: wrap;*/
}

.products-list .product {
    position: relative;
    border: 1px solid #ddd;
    padding: 15px;
}

.products-list .product .product-title {
    font-size: 16px;
}

.products-list .product img {
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

footer {
    background-color: rgb(42, 63, 108);
    padding: 15px;
    color: #fff;
    height: 100px;
}

footer .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider {
    margin: 15px 0;
}

.slider img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.price {
    font-size: 18px;
}

.discount {
    background-color: #f8dc07;
    color: #333;
    padding: 5px;
    font-size: 18px;
    margin-left: 15px;
}

.triangle {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 70px 70px 0 0;
    border-color: red transparent transparent transparent;
}

.discount-percent {
    position: absolute;
    top: 10px;
    left: 5px;
    color: #fff;
    font-size: 16px;
}

.btn-cart {
    width: 100%;
    background-color: rgb(42, 63, 108);
    color: #fff;
    border-radius: 4px;
}

.btn.btn-cart:hover {
    background-color: rgb(19, 24, 47);
    color: #fff;
}

main {
    padding-top: 15px;
}

.filters li {
    padding: 10px 0;
    border-top: 1px solid #ddd;
    font-weight: bold;
    transition: 0.5s;
}

.filters li:first-child {
    border-top: none;
    padding-top: 0;
}

.filters li ul {
    margin-top: 5px;
}

.filters li ul li {
    font-weight: normal;
    border-top: none;
    padding: 2px 0;
}

.sorts {
    padding-bottom: 20px;
}

.sorts .sorts-checkbox {
    display: flex;
}

.sorts .sorts-checkbox .sorts-item {
    margin-left: 15px;
}

.sorts select {
    padding: 0 15px;
}

.login-form {
    max-width: 400px;
    margin: 25px auto;
    background-color: #f2f2f2;
    padding: 25px;
}

.login-form .errors {
    color: red;
}

.login-form input {
    border: 1px solid #ddd;
}

.btn-yellow {
    width: 100%;
    background-color: #ecce00;
    color: #333;
}
