html, body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.wrapper {
    min-height: 100vh;
    margin-bottom: 30px;
}

header {
    background-color: rgb(42, 63, 108);
    padding: 0 15px;
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header .logo img {
    width: 200px;
    padding: 10px 0;
}

header nav {
    margin-left: auto;
}

header nav ul {
    display: flex;
    list-style: none;
    color: #fff;
    padding: 0;
    margin: 0;
}

header nav ul li {
    padding: 15px 15px;
}

.products-list {
    /*display: flex;*/
    /*flex-wrap: wrap;*/
}

.products-list .product {
    position: relative;
    border: 2px solid #aaa;
    padding: 15px;
}

.products-list .product .product-title {
    font-size: 16px;
}

.products-list .product img {
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

footer {
    background-color: rgb(42, 63, 108);
    padding: 15px;
    color: #fff;
    height: 100px;
}

footer .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider {
    margin: 15px 0;
}

.slider img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.price {
    font-size: 18px;
}

.discount {
    background-color: #f8dc07;
    color: #333;
    padding: 5px;
    font-size: 18px;
    margin-left: 15px;
}

.triangle {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 70px 70px 0 0;
    border-color: red transparent transparent transparent;
}

.discount-percent {
    position: absolute;
    top: 10px;
    left: 5px;
    color: #fff;
    font-size: 16px;
}

.btn-cart {
    width: 100%;
    background-color: rgb(42, 63, 108);
    color: #fff;
    border-radius: 4px;
}

.btn.btn-cart:hover {
    background-color: rgb(19, 24, 47);
    color: #fff;
}

/*@media screen and (max-width: 768px) {*/
/*    .products-list .product {*/
/*        width: 50%;*/
/*    }*/
/*}*/

/*@media screen and (max-width: 465px) {*/
/*    .products-list .product {*/
/*        width: 100%;*/
/*    }*/

/*    header .logo img {*/
/*        width: 100px;*/
/*    }*/

/*    header nav ul li {*/
/*        padding: 15px 5px;*/
/*    }*/
/*}*/